.top-header { 
	width: 100%; 
	background-image: url(img/header-bg.png); 
	background-size: cover; 
	background-position: center; 
} 
 
.top-header > h1 { 
	color: white; 
	background-color: rgba(0,0,0,0.3); 
	padding: 2em 1em; 
	font-family: sans-serif; 
} 